.page {
  height: 100vh;
  width: 100%;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-steps-title {
  color: #ef4480;
  font-weight: 500;
  padding: 0.8rem 0rem;
}

.home-info,
.app-steps {
  line-height: 1.8rem;
  padding: 4rem 0rem;
}

.home-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  height: 100vh;
}

.app-steps {
  width: 30%;
  height: 100vh;
}

.home-info h1 {
  font-size: 3rem;
  line-height: 2.7rem;
  color: #ef4480;
}

.home-info .home-title {
  color: #333;
}

.app-steps ul {
  list-style: none;
}

.app-steps ul li {
  margin: 1rem 0;
}

/* /* -------------------form----------------------- */

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 6rem;
  background-color: white;
  border-radius: 15px;
  width: 20%;
  height: 70%;
  min-width: 340px;
  border: 1px solid white;
  box-shadow: rgba(149, 157, 165, 0.162) 0px 8px 24px;
}

.user-form-page h2 {
  color: #333;
}

.user-form-page {
  background: url("./assets/register.png") no-repeat left bottom;
}
.user-form-page select {
  padding: 2px 12px;

  width: 50%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098a9;
  font-size: 14px;
}

.wrapper .form input {
  outline: 0;
  border: 0;
  font-size: 1rem;
  border-bottom: 2px solid gray;
  padding: 15px 0 0;
  width: 60%;
  line-height: 2rem;
  color: black;
}

.icon-home-page {
  padding-right: 3px;
  font-size: 1.5rem;
  color: #e2294f;
}

.btn {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  padding: 10px 50px;
  border: 2px solid #ef4480;
  background: #ef4480;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.hobbies-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  background-color: rgba(255, 255, 255, 0.696);
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  /* width: 110rem; */
  /* height: 93vh; */
}

.hobbies-page::before {
  background: url("./assets/hobbies-page.png") no-repeat right top;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hobbies-div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.jazz-img {
  width: 250px;
}

.books-img {
  width: 295px;
}

.foodie-img {
  width: 280px;
  padding-top: 50px;
}

.movies-img {
  width: 280px;
  padding-top: 18px;
}

.hobbies-title-div h2 {
  color: #333;
  font-size: 1.7rem;
}

.single-hobby {
  border: 2px solid rgba(128, 128, 128, 0.357);
  border-radius: 5px;
  width: 300px;
  height: 350px;
}

.hobbies-btn {
  background-color: #333;
  color: white;
  border: 2px solid #333;
}

.hobbies-btn-btn {
  padding: 8px 80px;
  margin-top: 50px;
}

.books-btn {
  margin-top: 15px;
}

.hobbies-btn-jazz {
  padding: 8px 60px;
  margin-top: 55px;
}

.hobbies-btn-foodie {
  margin-top: 55px;
}
.quiz-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz-div h2 {
  margin: 15px 0px;
}

.btn-quiz {
  /* margin-top: 10rem; */
}

.answer-div {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 10px;
}

.cards-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  border: 2px solid black;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.card div {
  border: 1px solid black;
}

.icon {
  font-size: 2.5rem;
}

.card-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

@media (min-width: 350px) and (max-width: 700px) {
  .home-page {
    flex-direction: column;
    gap: 0rem;
    /* padding: 0; */
  }

  .home-info {
    padding: 0rem;
  }

  .home-info h1 {
    font-size: 1rem;
    line-height: 0rem;
    color: #ef4480;
  }

  .woman-img {
    width: 100px;
  }
  .home-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-steps-title {
    color: #ef4480;
    font-weight: 500;
    padding: 0.8rem 0rem;
  }

  .home-info {
    display: flex;
    gap: 0;
    padding: 0rem;
    margin: 0rem;
    width: 20px;
    height: 0;
    /* flex-direction: row; */
  }
  .app-steps {
    padding: 0rem;
    width: 100%;
    text-align: center;
    line-height: 1rem;
    /* margin: 0rem; */
  }

  .app-steps ul li {
    margin: 0rem;
    font-size: 0.8rem;
  }

  .home-info {
    display: flex;
    /* flex-direction: row; */
    text-align: center;
    width: 100%;
    height: 100vh;
  }

  .hobbies-page {
    flex-direction: row;
  }
}
